
<div>
    <br>
    Фермерские участки - удивительные места. Они снабжают множество производств.<br>
    Вы можете ознакомиться с данными этих участков по ссылке ниже<br>
    @Html.ActionLink("Детали об участках", "Lands")
</div>