
<div>
    <br>
    Фермерские культуры - одни из самых качественных в области.
    Вы можете ознакомиться с информацией о культурах, выращиваемых на этих фермах, по ссылке ниже
    <br>
    @Html.ActionLink("Детали о культурах", "CropDetails")
</div>